*{
  box-sizing: border-box;
}

.main {
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height:50vh;
  position: relative;
  

}
.main-inner {
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  background: rgba( 255, 255, 255, 0.00 );
backdrop-filter: blur( 50.0px );
-webkit-backdrop-filter: blur( 100.0px );
height:50vh;
}
.text-overlay {
padding: 3rem;
}

.text-overlay h2 {
  font-size: 3rem;;
}

.text-overlay p {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  color: #fff;
}

.contact-container {
  display:flex;
  justify-content: space-around;
  align-items: flex-start;
  overflow-x: hidden;
  margin:2.5rem 3rem;;
}
.map{
  width: 40%;;
}

.form {
  width:50%;
  display: flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items: flex-start;
}

.form-input {
  width: 100%;
  padding:1.25rem;
  margin: 0.5rem 0;
  border: 1px solid #30313183;
  border-radius:3px;
}

.text-area {
  width: 100%;
  padding:1.5rem;
  margin: 0.5rem 0;
  height:150px;
  border: 1px solid #30313183;
  border-radius:3px;
}

.contactBtn {
  width: 200px;
  padding:1.5rem;
  margin: 0.5rem 0;
  color: #303131;
  letter-spacing: 3px;
  font-weight: 500;
  background: #fff;
  border: none;
}

::-webkit-input-placeholder { 
  color: #303131;
  letter-spacing: 3px;
  font-weight: 500;
}

@media (max-width: 768px){
 .contact-container {
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 .map{
  width: 100%;;
}
 .form {
   width: 100%;
   justify-content: center;
   align-items: center;
 }
}