*{
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

.home {
 background:url('../images/bg.png');
 background-size: cover;
 position: relative;
 height: 100%;
}
.home-text{
  width: 50%;
}

.home-text h1{
  font-size: 3rem;
  font-weight:700;
}
.home__context {
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem 4rem 3rem;
}

.home-text  p{
  text-align:left;
  line-height: 1.5;
  font-size:1.25rem;
  color: #fff;
  margin: 1rem 0;
}

.home-bg {
  background:url('../images/bg-1.png');
  background-size: cover;
  width: 399px;
  height:384px;
}

.buttons {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  
}


.btn-1 {
  background:#fff;
  font-size: 1rem;
  border:none;
  color: #303131;
  letter-spacing: 3px;
  text-transform:uppercase;
  border-radius:3px;
  cursor:pointer;
  margin-right:1rem;
  padding:1rem 2rem;
  
}

.btn-2 {
  background:transparent;
  color: #fff;
  border:1px solid #fff;
  font-size: 1rem;
  letter-spacing: 3px;
  text-transform:uppercase;
  border-radius:3px;
  cursor:pointer;
  margin:1rem;
  padding:15px 31px;
}

.btn-3 {
  background:#fff;
  font-size: 1rem;
  border:none;
  color: #303131;
  letter-spacing: 3px;
  text-transform:uppercase;
  border-radius:3px;
  cursor:pointer;
  margin:1rem;
  padding:1rem 2rem;
  
}



.btn-2:hover{
  color: #303131;
  background:#fff;
  transition: all ease 0.5s;
}

.dog-container {
  width:100%;
  margin-top: -4rem;;
}

.dog-cards {
  margin:0 5%;
  background-color: #fff;
}
.donate {
  background:  url('../images/donate-support.jpg');
  background-size:cover;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  align-items:center;
  padding-bottom: 3rem;
}

.donate h2{
  font-size:2.5rem;
  text-align: center;
  margin-bottom:2rem;
}
.donate {
  height: 540px;
  width:25%;
}
 .adoptpup, .adoptdog, .buyfood {
  width: 25%;
 
}
.adoptpup, .adoptdog {
  border-right: 1px solid rgba(167, 167, 167, 0.541);
}

.dog-container {
  position: relative
}
.dog-cards{
  display:flex;
  justify-content:center;
  align-items:center;
}
.adoptdog, .adoptpup, .buyfood {
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:center;
}
.adoptdog h3, .adoptpup h3, .buyfood h3{
  color: #303131;
  font-size:2rem;
  margin-top: 1rem;
}

.adoptdog p, .adoptpup p, .buyfood p{
  color: #444444;
  text-align:center;
  line-height:1.75rem;
  width:80%;
  margin: 1.5rem 10%;
}
.avatar-1 {
  background:url('../images/pup.jpg');
  background-size:cover;
  width:200px;
  height:200px;
  border-radius:50%;
  margin-top: 1rem;
}
.avatar-2 {
  background:url('../images/dog.jpg');
  background-size:cover;
  width:200px;
  height:200px;
  border-radius:50%;
  margin-top: 1rem;
}
.avatar-3 {
  background:url('../images/dog-food.jpg');
  background-size:cover;
  width:200px;
  height:200px;
  border-radius:50%;
  margin-top: 1rem;
}
.dog-buttons {
  font-size:1.2rem;
  padding:1rem 2rem;
  color: #fff;
  letter-spacing: 3px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.db-1{
  background-color: rgb(161, 153, 153);
  width: 100%;
}
.db-2{
  background-color: rgb(202, 179, 128);
}
.db-3{
  background-color: rgb(138, 190, 156);
}



@media (max-width: 768px){

  .home__context {
    flex-direction: column;
    padding: 1rem;
  }

  .home-text {
    width: 100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align: center;
  }
  .home-bg{
    width: 300px;
    height:292px;
    margin-top: 1rem;
  }

  .home-text  p{
    width:100%;
    text-align:center;
    font-size:1.25rem;
    margin: 1rem 0;
  }
  .dog-cards {
    flex-direction: column;
    width:100%;
    margin: 0;
  }
  .adoptdog p, .adoptpup p, .buyfood p{
    width:100%;
    margin-bottom: 1rem;
  }
  .donate, .adoptpup, .adoptdog, .buyfood {
    padding: 0 2rem;
    width: 100%;
    border: none;
  }
  .avatar-1, .avatar-2, .avatar-3 {
    margin-top: 1rem;
  }
  .buttons {
    width:100%;
    flex-direction: column;
  }
  .home-btn{
    margin: 1rem 0;
  }
  .btn-1{
    margin: 0;
    padding:1rem 30px;
  }
  .btn-2{
    margin: 1rem 0;
    padding:1rem 2rem;
  }
  .dog-container {
    margin-top: -1rem;
  }
 
}



