.adopt-container {
  padding: 1rem;
}
.adopt-1, .adopt-2, .adopt-3 {
  display:flex;
  justify-content:center;
  align-items:center;
  margin: 3rem 2rem;
}

.adopt-1-image {
  background: url('../images/whyadopt-1.jpg');
  width:550px;
  height:350px;
  background-size: cover;
}

.adopt-2-image {
  background: url('../images/whyadopt-2.jpg');
  width:550px;
  height:350px;
  background-size: cover;
}

.adopt-3-image {
  background: url('../images/wwhyadopt-3.jpg');
  width:550px;
  height:350px;
  background-size: cover;
}

.adopt-text {
  width:50%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding: 0 3rem;
  margin:0 0 0 1rem;
}

.adopt-text  h2 {
  font-size: 3rem;
  margin-bottom:1.5rem;
  color: #303131;
}
.adopt-text  p{
  font-size:0.85rem;
  margin-bottom:1.5rem;
}

.whyAdoptBtn{
  background-color: #9b5c37a1;
  padding:1.25rem 5rem;
  border: none;
  border-radius:3px;
  font-size: 1.25rem;
  text-transform: uppercase;
  cursor: pointer;
  color:#fff;
  font-family: 'Kodchasan', sans-serif;
}
.adopt-text  button:hover{
  background-color: #6d3717a1;
  padding:1.25rem 5rem;
  border: none;
  border-radius:3px;
  font-size: 1.25rem;
  text-transform: uppercase;
  cursor: pointer;
  
}

.main {
  background-image: url('../images/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}


.main__text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 4rem;
}

.main__text h2{
  font-size: 3rem;
}
.main__text p{
  font-size: 1.75rem;
  margin-top: 1rem;
}

@media (max-width:768px) {

  .adopt-1, .adopt-2, .adopt-3{
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .adopt-container {
    padding: 0.5rem;
  }
  .adopt-text {
    width:100%;
    padding: 1rem;
  }

  .adopt-1-image, .adopt-2-image, .adopt-3-image {
    height:200px;
    width:300px;
  }
  .adopt-2{
    flex-direction:column-reverse;
  }

  .main__text{
    text-align:center;
    padding:2rem;
  }
  .main__text h2{
    font-size: 2rem;
  }
  .main__text p{
    font-size: 1.25rem;
    margin-top: 1rem;
  }
}